.hostel-detail-right-box {
  grid-column: 2/-1;
  padding: 5rem 5rem 5rem 0;
}

.hostel-detail-right-card {
  height: 100%;
  background-color: #fff;
  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow);
  padding: 4rem 4rem;
}
.hostel-detail-right-card > h4 {
  margin-bottom: 2rem;
}

.hostel-img-card {
  width: 100%;
  height: 20rem;
  background-image: url('http://placehold.it/1920x1080');
  background-position: center;
  background-size: cover;
}

.hostel-img-card:not(:last-child) {
  margin-bottom: 2rem;
}
