.auth-input-group {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.auth-input-group > label {
  text-transform: capitalize;
  margin-bottom: 1rem;
  align-self: flex-start;
  font-weight: 400;
  font-size: inherit;
  display: inline-block;
}

.auth-input-group + p {
  color: #e67373;
  font-size: 1.25rem;
  margin-top: -1.5rem;
  text-align: left;
}

.auth-input-group input {
  font-size: inherit;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-s);
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.auth-input-group input:focus {
  outline: none;
}
