.hostel-title {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: var(--line);
  color: var(--color-grey);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
