.sidebar-container {
  grid-column: 1/2;
  background-image: var(--background-primary-gradient);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 1.7rem 2rem;
}

@media only screen and (max-width: 900px) {
  .sidebar-container {
    display: none;
  }
}
