.hostel-item-card {
  background-color: #fff;

  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow);
}

.hostel-item-card:not(:last-child) {
  margin-bottom: 3rem;
}

.hostel-item-title-box {
  padding: 2.25rem;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hostel-item-title-box i {
  font-size: 2rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.hostel-item-title-box > p {
  font-size: 1.5rem;
}

.hostel-item-detail-box {
  padding: 1rem 2.25rem;
  display: flex;
  flex-direction: column;
}
.hostel-item-detail-box p {
  font-size: 1.25rem;
  line-height: 1.8;
}

p > span {
  font-weight: 500;
}
