:root {
  --color-black: #000000;
  --color-primary: #d65353;
  --color-primary-light: #e06161;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --font-primary: 'Prompt', sans-serif;
  --font-heading: 'Hachi Maru Pop', cursive;
  --color-secondary-dark: #10151f;
  --color-secondary: #28364a;
  --color-secondary-light: #b2d3e1;

  --color-grey: #616161;

  --line: 1px solid lightgrey;

  --background-primary-gradient: linear-gradient(
    to right bottom,
    var(--color-secondary-dark),
    var(--color-secondary)
  );

  --border-radius-xs: 0.4rem;
  --border-radius-s: 0.8rem;
  --border-radius-m: 1rem;
  --border-radius-l: 1.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-weight: 300;
  line-height: 1.6;
}

.heading-text {
  font-size: 3rem;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30rem repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  background-image: var(--background-primary-gradient);
}

.sidebar {
  grid-column: 1/2;
  background-color: red;
}

.mr-xs {
  margin-right: 1rem;
}
.mr-s {
  margin-right: 2rem;
}
.mr-l {
  margin-right: 4rem;
}

.mr-xl {
  margin-right: 8rem;
}

.icon-primary {
  color: var(--color-primary);
}

.icon-l {
  font-size: 17rem;
}
.icon-s {
  font-size: 2.7rem;
}

.flex-end {
  align-self: flex-end;
}

.search-input {
  padding: 0.5rem 1rem;
  width: 25%;
  font-family: inherit;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-xs);

  transition: width 0.3s;
}
.search-input:focus {
  width: 40%;
  outline: none;
}
