.auth-container {
  grid-column: 1/ -1;
}

.auth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  width: 40vw;
  height: 85vh;
  text-align: center;
  border-radius: var(--border-radius-xs);

  padding: 2rem 10rem;
}

.auth-button-group {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
